/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes giraLaRuota {
  0% {
    translate: -30px 6px;
    opacity: 0;
  }
  50% {
    translate: -30px, 26px;
    opacity: 1;
  }
  100% {
    translate: -30px, 6px;
    opacity: 0;
  }
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#testoAlternato {
  width: 700px;
  height: 40vh;
  margin-inline: auto;
  margin-top: 3rem;
  background-color: antiquewhite;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
#testoAlternato p {
  width: 650px;
  padding: 30px 15px;
  border: 3px solid rgb(0 0 0 /35%);
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  line-height: 30px;
}
/* .parole {
} */
.parole i {
  position: absolute;
  top: -30px;
  right: -180px;
  transform: translate(-30px, 50px);
  transition: trasform 300ms cubic-bezier(0.29, 0.72, 0.74, 0.64);
}
.parole:hover {
  animation: giraLaRuota 5s;
}
